<div>
    <table class="table">
        <thead>
            <tr>
                <th >Id</th>
                <th>Country</th>
                <th>Capitale</th>
                <th>Population</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test text</td>
                <td>test text</td>
                <td>test text</td>
                <td>test text</td>
            </tr>
                  
        </tbody>
    </table>
</div>