<div>
    <table class="table">
        <thead>
            <tr>
                <th>Actions</th>
                <th >Delete</th>
                <th>Country</th>
                <th>Capital</th>
                <th>Population</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index">
                <td><button type="button" class="btn btn-sm btn-primary" [routerLink]="['/form', country.id]">Edit</button></td>
                <td><button type="button" class="btn btn-sm btn-primary" (click)="removeCountry(country.id)">Delete</button></td>
                <td>{{ i + 1 }}</td>
                <td>{{ country.countryName }}</td>
                <td>{{ country.countryCapital }}</td>
                <td>{{ country.population }}</td>
                <td><img [src]="country.flag" style="height: 50px"></td>
            </tr>
                  
        </tbody>
    </table>
</div>